{% extends 'base.html.twig' %}

{% block title %}Hello DataBaseController!{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('/Assets/style.css') }}"/>
{% endblock %}

{% block body %}
<div>
  <img src={{ image }} id="myImg">
  <img src={{ '/Assets/'~newImage }} id="myImg">
</div>
<div>
    <p>
      <button type="button" onclick="agrandir()">+ Agrandir</button>
      <button type="button" onclick="diminuer()">- Diminuer</button>
      <button type="button" onclick="rotateImg()">↻ Rotation</button>
      <button type="button" onclick="diminuer()">Valider</button>
    </p>
</div>
{% endblock %}