{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('/Assets/form.css') }}"/>
{% endblock %}

{% block body %}
{# <div>
  <img src={{ image }} id="myImg" style="width:50%">
  <img src={{ '/Assets/'~newImage }} id="myImg" style="width:50%">
</div>
<div>
    <p>
      <button type="button" onclick="agrandir()">+ Agrandir</button>
      <button type="button" onclick="diminuer()">- Diminuer</button>
      <button type="button" onclick="rotateImg()">↻ Rotation</button>
      <button type="button" onclick="diminuer()">Valider</button>
    </p>
</div> #}

<div >
  image resized
</div>
{% endblock %}