{% extends 'base.html.twig' %}

{% block title %}Hello DataBaseController!{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('/Assets/style.css') }}"/>
{% endblock %}

{% block body %}
<div>
  <img src={{ '/Assets/'~image }} id="myImg">
  <img src={{ '/Assets/Mulhouse.png' }} id="myImg">
</div>

{% endblock %}