.paragraph
{
	font: Raleway;
	color: #ffaa00;
	text-transform: normal;
	font-weight: normal;
	font-style: normal;
}
.titleStyle
{
	font: Oswald;
	text-transform: normal;
	font-weight: normal;
	font-style: normal;
}
