.title
{
	font-family: Open sans;
	color: blue;
	text-transform : italic;
	font-style : capitalize;
	font-weight : bold;
}
.paragraph
{
	font-family: Open sans;
	color: black;
	text-transform : normal;
	font-style : normal;
	font-weight : normal;
}
