<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('/Assets/base.css') }}"/>
        {% endblock %}

    </head>
    <body>
    <div class="header">
        <img src={{ '/Assets/header.gif' }} style="width:100%">
    </div>
        {% block body %}
        {% endblock %}
    </body>
</html>
